/* About.css */
.body
{
  overflow: hidden;
  line-height: 1.3;
  letter-spacing: 0.00938em;
}
.three { width: 0.8%; }

.three{
  background-color: transparent;
  padding: 12% 0px;
}

/* ALL LOADERS */

.loader{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3E84BA;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.service-card-container {
  max-width: 22%;
}

.service-card {
  width: 100%;
  background: linear-gradient(to right, #3E84BA, #3E84BA);
  padding: 2px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.service-card-inner {
  background-color: white;
  border-radius: 20px;
  padding: 60px 10px;
  max-height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-card-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.service-card-title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.about-intro {
  margin-top: 16px;
  color: #a8b2d1;
  font-size: 17px;
  max-width: 768px;
  line-height: 30px;
}

.about-services {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}



#root {
  overflow: hidden;
  width: inherit;
  background-color: black;
}
.navbar {
  z-index: 999;
  padding: 0.38%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #3E84BA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem; /* Space between the links */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.nav-links a.active {
  color: #3E84BA; /* Active color */
  font-weight: bold; /* Optional: Make it stand out */
}
.nav-links a:hover {
  color: #3E84BA; /* Change color on hover */
}

.app-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.app-header.fade-in {
  opacity: 1;
}
.app-header {
  z-index: 99999999999;
  transition: opacity 1s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 7%;
  align-items: center;
  box-sizing: border-box;
}
.hero.hidden {
  display: none;  /* Hide hero content while loading */
}

.hero {
  text-align: center;
  max-width: 60%;
  display: flex;
  gap: 0px;
  padding: 20px;
  width: 60%;
}
.hero-card
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-name
{
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero-desc
{

}
.box {
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 20px;
  flex: 1;
  color: white;
  text-align: center;
  border-radius: 8px;
}
.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.box1
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.square-logo
{
  background-size: contain;
  background-image: url(/src/logoss.png);
  background-position: center;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.circle-image {
  background-image: url('./amoubare.jpg');
  background-size: cover;             
  background-position: center;        
  background-repeat: no-repeat;
  background-color: beige;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.vertical-image
{
  background-image: url(/src/amoubare.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.button {
  background-color: black;
  color: #3E84BA;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
  }
  40% {
      transform: translateX(-50%) translateY(-10px);
  }
  60% {
      transform: translateX(-50%) translateY(-5px);
  }
}
.features {
  text-align: center;
  padding: 40px 0;
}

.feature {
  margin: 20px;
  display: inline-block; /* Align features horizontally */
  width: 40%; /* Responsive width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.app-footer {
  text-align: center;
  padding: 20px 0;
  background-color: #3E84BA;
  color: white;
}

@media (min-width: 1200px) {
  .studies-section{
    height:100vh;
    flex-wrap: nowrap;
  }
  #root {
    background-size: contain; /* Ensures the entire image is shown */
    background-position: center top; /* Optional: Adjust to show the top */
  }
}

@media (max-width: 1200px) {
  .studies-section{
  height:   200vh;
    flex-wrap: wrap;
  }
  .circle-image {
    width: 200px;         
    height: 200px;
  }
}
/* Responsive design */
@media (max-width: 830px) {
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 0px;
  }
  
  .about-subtitle {
    text-align: center;
    font-size: 1.66rem;
    margin-bottom: 10px;
  }
  
  .about-section p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.8;
  }
  .about-section {
    max-width: 85%;
    align-items: center;
    text-align: center;
}

  .feature {
    width: 70%;
    margin: 40px 30px;
    padding: inherit;
  }
  .app-container {
    padding: 0%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .circle-image {
    width: 120px;             /* Smaller size for smaller screens */
    height: 120px;
  }
  .hero {
    max-width: 60%;
    margin-top: 2%;
    gap: 0px;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 480px)
{
  .about-title {
    font-size: 3rem;
    margin-bottom: 0px;
  }
  
  .about-subtitle {
    font-size: 1.66rem;
    margin-bottom: 10px;
  }
  
  .about-section p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.8;
  }
  .about-section {
    align-items: center;
}

  .feature {
    width: 70%;
    margin: 40px 30px;
    padding: inherit;
  }
  .app-container {
    padding: 0%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .hero {
    max-width: 60%;
    gap: 20px;
    align-items: center;
  }
}
.studies-section {
    max-width: 80%;
    margin: 10% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

@media (max-width: 480px) {
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 0px;
  }
  
  .about-subtitle {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .about-section p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1;
  }
  .about-section {
    align-items: center;
    text-align: center;
}

  .feature {
    width: 90%;
    margin: 12px 8px;
    padding: inherit;
  }
  .app-container {
    padding: 0%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .circle-image {
    width: 120px;             /* Smaller size for smaller screens */
    height: 120px;
  }
  .hero {
    max-width: 60%;
    margin-top: 2%;
    gap: 0px;
    align-items: center;
    flex-direction: column-reverse;
  }
}

/* About.css */

.about-section {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  width: 50%;
  margin: 5% auto;
  height: 100vh;
}
.prr
{
  width: 100%
}
.prr2 
{
  flex: 0.4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10%;
}

#About .about-title,
#About .about-subtitle,
#About .about-paragraph {
  /* opacity: 0 !important; */
  transform: translateY(20px) !important;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

#About .animate .about-title,
#About .animate .about-subtitle,
#About .animate .about-paragraph {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

#About .animate .about-title {
  transition-delay: 0.2s;
}

#About .animate .about-subtitle {
  transition-delay: 0.5s;
}

#About .animate .about-paragraph {
  transition-delay: 0.8s;
}
.animate-section {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 1.5s ease;
}

.animate-section.active {
  opacity: 1;
  transform: translateY(0px);
}
.about-subtitle {
  margin-bottom: 10px;
}

.about-section p {
  color: white;
  margin: 0;
  line-height: 1.8;
}
/* contactUs */
/* ContactUs.css */
.contact-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 35%;
  max-width: 55%;
  height: 100vh;
  box-sizing: border-box;
}

.contact-header {
  padding-bottom: 35px;
  color: white;
  text-align: center;
}

.contact-header p {
  font-size: 1rem;
  color: #555;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #3E84BA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Responsive Design */
@media (max-width: 768px) {
  .studies-section
  {
    height: 320vh;
    flex-direction: row;
  }
  .contact-header h2 {
    font-size: 1.5rem;
  }

  .contact-header p {
    font-size: 0.9rem;
  }

  .submit-button {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .service-card-title {
    display: none;
}
.service-card-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
  .service-card-inner {
    background-color: #2d2e32;
    border-radius: 20px;
    padding: 43px 21px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-services
  {
    height: 25%;
    overflow-x: auto;
    /* overflow-y: auto; */
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* white-space: revert; */
    gap: 3%;
  }
  .contact-section {
    padding: 1rem;
  }

  .contact-header h2 {
    font-size: 1.25rem;
  }

  .submit-button {
    font-size: 0.85rem;
    padding: 0.5rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.85rem;
  }
}




.section {
  scroll-snap-align: start;
  height: 100vh;
}

/* 
 /* */

h1, h2, h3, h5 {
  margin: 0;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h1 {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #222
}

.header h3 {
  font-weight: 400;
  color: #555;
  width: 30em;
}
.cardss
{
  display: flex;
  align-items: center;
}

.card {
  max-height: 90%;
  padding: 0.5%;
  background: linear-gradient(to right, #3E84BA, #3E84BA);
  background-color: black;
  width: 42%;
  height: fit-content;
  border-radius: 0.6em;
  margin: 0.5em;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}


@media (max-width: 1200px) {
  .cardss
  {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 40%;  /* Slightly narrower */
  }
}

/* For screens between 992px and 768px */

/* For screens between 768px and 576px (small tablets) */
@media (max-width: 768px) {
  .hero
  {
    max-width: 60%;
    margin-top: 2%;
    gap: 0px;
    align-items: center;
    flex-direction: column-reverse;
  }

  .card {
    width: 60%;  /* Narrower for small tablets */
    margin: 0.6em;  /* Further reduce margin */
  }
}

/* For screens smaller than 576px (mobile) */
@media (max-width: 576px) {
  .card {
    width: 90%;  /* Full width for mobile */
    margin: 0.5em auto;  /* Center the card */
    box-shadow: 0 8px 16px -5px hsla(240, 30.1%, 28%, 0.2), 
                0 4px 8px -4px hsla(0, 0%, 0%, 0.2), 
                0 -4px 8px -4px hsla(0, 0%, 0%, 0.02); /* Lighter shadow */
  }
}


.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  border-radius: 0.4rem;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.card h2 {
  color: #3E84BA;
  line-height: 1.4;
  font-size: 1em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

.card p {
  font-size: 0.95rem;
  color: #777;
}

.card h5 {
  width: fit-content;
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}

.card-body {
  border-radius: 0.6rem;
  background: white;
  padding: 1em;
}

.section-container {
  width: 100%;
  display: flex;
  height: 400vh;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow-y: scroll;
}

.left-div {
  height: 100vh;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.left-div h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.left-div p {
  font-size: 1.5rem;
  color: #555;
}

.right-div {
  flex:1;
  height: 80%;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.right-div img {
  max-width: 100%;
  border-radius: 10px;
}

.projects-desc
{
  height: 65vh;
}
.parallax-container
{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.parallax-content {
  position: relative;
    z-index: 10;
}

.parallax-bg
{
  pointer-events: none;
  position: absolute;
  inset: 0px;
  z-index: 20;
  background-image: url(/mountainsOnly.png);
  background-size: cover;
}

.parallax-fg
{
  position: absolute;
  inset: 0px;
  z-index: 0;
  background-image: url(/mountainsSky.jpg);
  background-size: cover;
}

/* contactos */

.contact-card
{
  width: 70%;
  background-color: transparent;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(131, 3, 128, 0);
  overflow: hidden;
}

.contact-form
{
  padding: 2rem;
}

.contact-button
{
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 12px 27px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #999999;
  background: #ffffff;
  border: 3px solid #999999;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}
.btn {
    width: 90%;
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 19px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    background: transparent;
    border: 3px solid #999999;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
}
.btn.btn-border-2::after,
.btn.btn-border-2::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-2::after {
    top: -3px;
    left: -3px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-2::before {
    bottom: -3px;
    right: -3px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-2:hover {
    color: #3E84BA;
}

.btn.btn-border-2:hover::after,
.btn.btn-border-2:hover::before {
    width: calc(50% + 3px);
    height: calc(50% + 3px);
    border-color: #3E84BA;
}
.btn-disabled {
  background-color: #ccc; /* Change background */
  color: #666;           /* Dim the text */
  cursor: not-allowed;   /* Indicate disabled state */
  border-color: #ccc;    /* Adjust border color if needed */
  transition: all 0.3s ease; /* Smooth transition */
}
@mixin input {
  display: block;
  width: 100%;
  border: 2px solid #eee;
  padding: 1ch;
  border-radius: 3px;
  transition: 150ms ease;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
}

@mixin input-focus {
  border-color: #3E84BA;
}

@mixin label {
  position: absolute;
  top: 1ch;
  left: 1ch;
  padding: 0 .5ch;
  pointer-events: none;
  transition: 150ms ease;
  color: #888;
}

@mixin label-focus {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  color: #3E84BA;
  font-weight: bold;
  transform: translateY(-50%);
  background-color: black;
  font-weight: 600;
}

.text-input {
  position: relative;
  margin-bottom: 1rem;
  label {
    @include label;
  }
  label.label-focus {
    @include label-focus;
  }
  input {
    @include input;
  }
  input.input-focus {
    @include input-focus;
  }
}

.text-area {
  position: relative;
  margin-bottom: 1rem;
  label {
    @include label;
  }
  label.label-focus {
    @include label-focus;
  }
  textarea {
    @include input;
    height: 8em;
  }
  textarea.input-focus {
    @include input-focus;
  }
}

.contact-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 0%;
}
.popup {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
}

.popup.success {
  background-color: green;
}

.popup.error {
  background-color: #f44336;
}


